body {
  /*padding: 50px;*/
  font-family: 'Signika', sans-serif;
  font-size: 18px;
}

a {
  color: #00B7FF;
}

.headers {
  text-align: center;
  font-family: 'Special Elite', cursive;
  font-size: 60px;
}

.carousel-img {
  max-height: 830px;
  width: 100%;
}

.carousel-caption {
  padding-top: 130px;
  top: 0;
  bottom: auto;
}

.carousel-text {
  font-size: 7em;
  font-family: 'Special Elite', cursive;
  text-shadow: 4px 4px 7px black;
}

.carousel-heading {
  font-size: 4em;
  font-family: 'Special Elite', cursive;
}

.testimonial-div {
  /*height: 350px;
  width: 350px;*/
  /*border-radius: 50%;*/
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}

.testimonial-img {
  border-radius: 50%;
  border: 5px solid;
  height: 350px;
  width: 350px;
}