<div class="container">
  <div class="row">
    <div class="col-md-6">
      <!-- User Input -->
      <h1 class="signup">User Info</h1>
      <form class="signup-form">
        <div class="form-group">
          <label for="firstName">First Name</label>
          <input type="text" class="form-control" id="first-name" placeholder="First Name">
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" id="last-name" placeholder="Last Name">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location" placeholder="City, State">
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <input type="text" class="form-control" id="gender" placeholder="Gender">
        </div>
        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" id="age" placeholder="Age">
        </div>
        <div class="form-group">
          <label for="photo">Upload a Photo</label>
          <input type="text" class="form-control" id="photo" placeholder="Photo">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="password">Confirm Password</label>
          <input type="password" class="form-control" id="password2" placeholder="Confirm Password">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    <!-- Activity Input -->
    <div class="col-md-6">
      <h1 class="signup">Activity Info</h1>
      <form class="signup-form">
        <div class="btn-group">
          <button type="button" class="btn btn-default">Choose an Activity</button>
          <button type="button" class="btn btn-defulat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Running</a></li>
            <li><a href="#">Biking</a></li>
            <li><a href="#">Swimming</a></li>
          </ul>
        </div>
        <div class="form-group">
          <label for="pace">Pace</label>
          <input type="text" class="form-control" id="pace" placeholder="Pace">
        </div>
        <div class="form-group">
          <label for="distance">Distance</label>
          <input type="text" class="form-control" id="distance" placeholder="Distance">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <!-- Who are you looking for -->
      <h1 class="signup">What are you looking for in a Partner?</h1>
      <form class="signup-form">
        <div class="form-group">
          <label for="location">Location</label>
          <input type="text" class="form-control" id="location-partner" placeholder="City, State">
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <div class="checkbox">
            <label>
              <input type="checkbox"> Male
            </label>
            <label>
              <input type="checkbox"> Female
            </label>
          </div>
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-default">Age</button>
          <button type="button" class="btn btn-defulat dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">Within 5 years</a></li>
            <li><a href="#">Within 10 years</a></li>
            <li><a href="#">More than 10 years</a></li>
          </ul>
        </div>
        <!-- <div class="form-group">
          <label for="age">Age</label>
          <input type="text" class="form-control" id="age-partner" placeholder="Age">
        </div> -->
        <div class="checkbox">
          <label>
            <input type="checkbox"> Same Pace?
          </label>
        </div>
        <div class="form-group">
          <label for="distance">Distance</label>
          <input type="text" class="form-control" id="distance-partner" placeholder="Distance">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>